.authentication-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100vh;
    background-color: #94A98A;
    position: relative;
    overflow: hidden;
}

.image-container {
    position: relative;
    width: 90%;
    transition: transform 0.5s ease-in-out;
    z-index: 2;
}

.image-container.normal {
    transform: translateX(0);
}

.image-container.right {
    transform: translateX(107%);
}

.authentication-image {
    width: 115%;
    height: 100%;
    object-fit: cover;
}

.toggle-button {
    position: absolute;
    top: 20px;
    transition: right 0.5s ease-in-out, left 0.5s ease-in-out; /* Smooth transition */
    background-color: #FFFAF4;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    z-index: 10;
    font-size: 15pt;
    font-weight: 700;
    border-radius: 10px;
    color: #565448;
}

.image-container.normal .toggle-button {
    left: 700px; 
}

.image-container.right .toggle-button {
    right: 580px;
}

.toggle-button-two {
    position: absolute;
    top: 730px;
    right: 284px;
    background-color: rgba(255, 255, 255);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    z-index: 10;
}

.Heading {
    font-size: 47pt;
    font-weight: bold;
    margin-bottom: 40px;
    margin-left: -160px;
}

.form-container {
    flex-direction: column;
    justify-content: center;
    align-items: left;
    padding-left: 180px;
    padding-top: 170px;
    transition: transform 0.5s ease-in-out;
    z-index: 0;
}

.form-container.move-left {
    transform: translateX(-110%);
}

.form-container .form-group {
    margin-bottom: 15px;
    width: 77%;
}

.labels {
    margin-bottom: 5px;
    margin-left: -195px;
    font-size: 16pt;
    font-weight: 500;
}

.labels-two {
    margin-bottom: 5px;
    margin-left: -235px;
    font-size: 16pt;
    font-weight: 500;
}

.form-container input {
    width: 300px;
    padding: 10px;
    border: 1px solid #80807E;
    border-radius: 4px;
    background-color: #D8D0BD;
}

.submit-button {
    background-color: #203023;
    color: #D8D0BD;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: -140px;
    margin-top: 20px;
    width: 150px;
    font-size: 15pt;
    font-weight: 700;
}

.form-toggle-button {
    background: none;
    border: none;
    color: #007bff;
    cursor: pointer;
    margin-top: 10px;
}

.error-message {
    color: red;
    font-size: 0.9rem;
    margin-top: 5px;
}

.error-message.general {
    margin-top: -5px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-right: 243px;
}