.Box {
    background-color: #70826745;
    color: #ebe4d1;
    padding: 20px;
    width: 1300px;
    font-size: 26pt;
    font-weight: 500;
    margin-top: 40px;
    border-radius: 25px;
    margin-left: 60px;
    overflow: visible;
}

.heading {
    margin-top: 40px;
    margin-left: '70px';
    font-weight: bold;
    color: #ebe4d1;
    font-size: 50pt;
    margin-bottom: 30px;
}

.container_box {
    height: 270px;
    width: 1000px;
    /* background-color: #94A98A; */
    margin-left: 180px;
    margin-bottom: 20px;
}

.upload-container {
    background-color: #80807E;
    border-radius: 20px;
    width: 200px;
    height: 270px;
    padding: 20px;
    color: #11120D;
    text-align: center;
    margin-right: 20px;
    margin-left: 60px;
    margin-top: 40px;
}
  
.upload-heading {
    font-weight: bold;
    font-size: 16pt;
    margin-bottom: 15px;
}
  
.upload-box {
    display: inline-block;
    width: 100px;
    height: 130px;
    background-color: #D8D0BD;
    color: #3d3c34;
    font-size: 60pt;
    font-weight: 500;
    border-radius: 20px;
    cursor: pointer;
    line-height: 130px;
    user-select: none;
    margin-bottom: 10px;
}
  
.upload-count {
    font-size: 11pt;
    font-weight: 600;
}

.carousel_box {
    background-color: #80807E;
    width: 700px;
    height: 270px;
    padding: 30px;
    padding-top: 10px;
    margin-top: -270px;
    margin-left: 300px;
    border-radius: 20px;
}

.image_box {
    flex: 0 0 auto;
    margin-right: 15px;
    text-align: center;
    background-color: #fff;
    padding: 6px;
    border-radius: 20px;
    width: 120px;
    height: 190px
}

.save_button {
    padding: 8px 17px;
    background-color: #D8D0BD;
    color: #3d3c34;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 700;
    margin-top: 10px;
    font-size: 15pt;
}

.Stn {
    background-color: #20644d63;
    width: 740px;
    height: 230px;
    margin-top: 40px;
    margin-bottom: 40px;
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 10px;
    margin-left: 350px;
}

.Stn h2 {
    font-size: 35pt;
    line-height: 50px;
    font-weight: 600;
    color: #AEC0CC;
}

.Stn2 {
    background-color: #20644d63;
    width: 740px;
    height: 240px;
    margin-top: 40px;
    margin-bottom: 80px;
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
    margin-left: 350px;
}

.Stn2 h2 {
    font-size: 35pt;
    line-height: 50px;
    font-weight: 600;
    color: #AEC0CC;
}

.input {
    background-color: #FFFAF4;
    border: 0;
    width: 260px;
    height: 40px;
    font-size: 18pt;
    padding-left: 12px;
    border-radius: 12px;
    color: #11120D;
    margin-top: 26px;
}

.dropdown {
    width: 0%;
    height: 50px;
    font-size: 12pt;
    border-radius: 12px;
    margin-top: 30px;
}

.button {
    background-color: #565448;
    font-size: 30pt;
    font-weight: 600;
    padding-top: 0px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    text-decoration: none;
    border: 0;
    color: #D8D0BD;
    border-radius: 70px;
    margin-left: 0px;
}

.image_box {
  width: 120px;
  flex-shrink: 0;
}

.image_inner_box {
  background: #fffaf4;
  border: 1px solid #ddd;
  border-radius: 12px;
  padding: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 180px;
  justify-content: space-between;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.object-image {
  width: 100px;
  height: 120px;
  object-fit: cover;
  border-radius: 10px;
}

.rename-input {
  width: 100%;
  font-size: 12px;
  text-align: center;
  padding: 4px;
  border: 1px solid #ccc;
  border-radius: 6px;
  background-color: #fff;
  box-sizing: border-box;
  overflow: hidden;
  text-overflow: ellipsis;
}

.footer {
    margin-top: 90px;
    padding: 15px;
    background-color: #94A98A;
}

.footer_text {
    font-size: 16pt;
}