.heading {
    margin-top: 40px;
    margin-left: 0px;
    font-weight: bold;
    color: #ebe4d1;
    font-size: 40pt;
    margin-bottom: 20px;
}

.subheading {
  font-size: 20pt;
  color: #ebe4d1;
  font-weight: 400;
}

.story_output {
  background: #70826745;
  border-radius: 12px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 130px;
  padding-right: 130px;
  margin-bottom: 30px;
  margin-top: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: #ebe4d1;
  font-size: 20pt;
  width: 1400px;
  margin-left: 80px;
}

.story_ouput_heading {
  font-size: 40pt;
}

.story_image {
  width: 250px;
  height: 250px;
  margin-right: 30px;
  border-radius: 30px;
  box-shadow: 0 0 10px #94a98ac8
}

.spinner {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #555;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  animation: spin 1s linear infinite;
  display: inline-block;
  vertical-align: middle;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.btn_save {
  background-color: #D8D0BD;
  font-size: 18pt;
  font-weight: 600;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 50px;
  padding-right: 50px;
  text-decoration: none;
  color: #565448;
  border-radius: 70px;
  margin-left: 20px;
  cursor: pointer;
  border: 0;
}

.btn_save:hover {
  background-color: #565448;
  color: #D8D0BD;
}

.btn_generate {
  background-color: #565448;
  font-size: 18pt;
  color: #D8D0BD;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 4px;
  font-size: 18pt;
  border-radius: 70px;
  font-style: italic;
  margin-left: 20px;
}

.btn-send {
  padding: 10px 20px;
  background-color: #AEC0CC;
  color: black;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  height: 50px;
}

.btn_generate:hover,
.btn-send:hover {
  background-color: #D8D0BD;
  color: #565448;
}

.welcome-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(17,18,13,0.94);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;  
}

.modal_content {
  background-color: #98A88D;
  padding: 30px;
  border-radius: 12px;
  width: 90%;
  max-width: 400px;
  text-align: center;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  font-size: 20pt;
}

.popup-input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-top: 10px;
}

.btn-save, .btn-cancel {
  padding: 10px 16px;
  border: none;
  border-radius: 8px;
  font-size: 14px;
  cursor: pointer;
}

.btn-save {
  margin-top: 8px;
  padding: 0.5rem 1rem;
  background-color: #565448;
  color: #ebdebf;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 15pt;
  width: 100px;
}

.btn-save:hover {
  background-color: #ebdebf;
  color: #565448;
}

.btn-cancel {
  border: 0px;
  font-size: 15pt;
  border-radius: 6px;
  background-color: #D8D0BD;
  color: #38362c;
}

.btn-cancel:hover {
  background-color: #38362c;
  color: #D8D0BD;
}

.success-banner {
  background-color: #dff0d8;
  color: #3c763d;
  text-align: center;
  padding: 12px 20px;
  margin: 20px auto;
  width: fit-content;
  border-radius: 10px;
  font-weight: 500;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.instruction_text {
  color: #ebe4d1;
  margin-top: -10px;
  margin-bottom: 20px;
  font-size: 18pt;
}

.chat-section {
  background: #20644d63;
  padding-top: 10px;
  padding-left: 60px;
  padding-right: 60px;
  border-radius: 12px;
  width: 1400px;
  height: 900px;
  margin-left: 80px;
}

.dropdown {
  padding: 5px;
  margin-bottom: 10px;
  width: 100%;
  border-radius: 6px;
  border: 0px;
  background-color: #D8D0BD;
  color: #203023;
  font-size: 15pt;
}

.dropdown2 {
  padding: 5px;
  margin-bottom: 30px;
  width: 100%;
  border-radius: 6px;
  border: 0px;
  background-color: #D8D0BD;
  color: #203023;
  font-size: 15pt;
}

.chat-input-group {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.chat-input {
  flex: 1;
  padding: 10px;
  border-radius: 6px;
  border: 0;
  background-color: #3E563E;
  color: #D8D0BD;
  font-size: 15pt;
  margin-bottom: 20px;
}

.chat-input::placeholder {
  color: #D8D0BD;

}

.chat-container {
  height: 600px;
  overflow-y: auto;
}

.ai-message {
  width: 900px;
  font-size: 15pt;
  color: #203023;
  background-color: #D8D0BD;
  padding: 12px;
  border-radius: 12px;
  margin: 8px 0;
  line-height: 1.5;
  text-align: left;
  margin-bottom: 40px;
}

.user-message {
  width: 650px;
  font-size: 18pt;
  color: #D8D0BD;
  background-color: #565448;
  padding: 8px;
  border-radius: 12px;
  margin: 8px 0;
  align-self: flex-end;
  text-align: right;
  margin-bottom: 10px;
  margin-left: 605px;
}

.chat-message.user {
  background-color: #565448;
  color: #ebdebf;
  align-self: flex-end;
  text-align: right;
  margin-left: auto;
  font-size: 15pt;
}

.chat-message.ai {
  background-color: #D8D0BD;
  color: #203023;
  align-self: flex-start;
  text-align: left;
  margin-right: auto;
}

.save_heading {
  font-size: 20pt;
}

.footer {
    margin-top: 50px;
    padding: 15px;
    background-color: #94A98A;
}

.footer_text {
    font-size: 16pt;
}